.navigationBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.navigationBar .avatar {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

.navigationBar .avatar img {
  width: 70%;
  border-radius: 50%;
}

.navigationBar .nav-items {
  width: 100%;
  text-align: center;
}

.navigationBar .nav-items .active-class {
  background-color: var(--primary-color-light);
  color: white;
}

.navigationBar .nav-items li {
  display: block;
}

.navigationBar .nav-items li a {
  display: block;
  padding: .45rem 0;
  position: relative;
  z-index: 10;
  text-transform: uppercase;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  font-weight: 600;
  letter-spacing: 1px;
}

.navigationBar .nav-items li a:hover {
  cursor: pointer;
  color: var(--white-color);
}

.navigationBar .nav-items li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 50%;
  background-color: var(--primary-color);
  -webkit-transition: All 0.4s cubic-bezier(1, -0.2, 0.25, 0.95);
  transition: All 0.4s cubic-bezier(1, -0.2, 0.25, 0.95);
  opacity: 0.21;
  z-index: -1;
}

.navigationBar .nav-items li a:hover::before {
  width: 100%;
  height: 100%;
}

.navigationBar footer {
  border-top: 1px solid white;
  width: 100%;
}

.navigationBar footer p {
  padding: 1.3rem 0;
  font-size: 1.1rem;
  display: block;
  text-align: center;
}

.navigationBar iconfooter {
  margin-top: 300px;
  position: absolute;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: none;
}

.navigationBar iconfooter .color {
  position: absolute;
  -webkit-filter: blur(150px);
          filter: blur(150px);
}

.navigationBar iconfooter ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigationBar iconfooter ul li {
  position: relative;
  list-style: none;
  margin: 10px;
}

.navigationBar iconfooter ul li a {
  position: relative;
  top: 0;
  right: 10px;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 2em;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: 1;
  -webkit-box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  overflow: hidden;
}

.navigationBar iconfooter ul li a:hover {
  -webkit-transition-delay: 0s, 0.5s, 0.5s;
          transition-delay: 0s, 0.5s, 0.5s;
  top: -50px;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  z-index: 11;
}

.navigationBar iconfooter ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transform: skew(45deg) translate(150px);
          transform: skew(45deg) translate(150px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navigationBar iconfooter ul li a:hover::before {
  -webkit-transform: skew(45deg) translate(-150px);
          transform: skew(45deg) translate(-150px);
}
/*# sourceMappingURL=Navigation.css.map */