.homepage{
    width: 100%;
    height: 100vh;
    position: relative;
   
    .typography{
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 80%;

        iconfooter {
            margin-top: 300px;
            position: absolute;
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: none;
          }
          
          iconfooter .color {
            position: absolute;
            filter: blur(150px);
          }
          
          iconfooter ul {
            position: relative;
            display: flex;
          }
          
          iconfooter ul li {
            position: relative;
            list-style: none;
            margin: 10px;
          }
          
          iconfooter ul li a {
            position: relative;
            top: 0;
            right: 40px;
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 2em;
            border: 1px solid rgba(255, 255, 255, 0.4);
            border-right: 1px solid rgba(255, 255, 255, 0.2);
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(4px);
            z-index: 1;
            box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
            text-decoration: none;
            overflow: hidden;
          }
          
          iconfooter ul li a:hover {
            transition-delay: 0s, 0.5s, 0.5s;
            top: -50px;
            transform: translateY(50px);
            z-index: 11;
          }
          
          iconfooter ul li a::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 50px;
            height: 100%;
            background: rgba(255, 255, 255, 0.5);
            transform: skew(45deg) translate(150px);
            transition: 0.5s;
          }
          
          iconfooter ul li a:hover::before {
            transform: skew(45deg) translate(-150px);
          }
    }
}